<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@{{ .Site.Params.twitterHandle }}" />
<meta name="twitter:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ with .Title }}{{ . }}{{ else }}{{ .Site.Params.blogTitle }}{{ end }}{{ end }}" />
<meta name="twitter:domain" content="{{ .Site.Params.siteDomain }}" />
{{- $twitter_image := "" -}}
{{- if .Params.image -}}
    {{- $twitter_image = .Params.image -}}
{{- else -}}
    {{- $twitter_image = printf "https://%s/martin_small-v3.png" .Site.Params.cdnDomain -}}
{{- end -}}
<meta name="twitter:image" content="{{ $twitter_image }}" />
<meta name="twitter:image:alt" content="{{ with .Params.image_alt_text }}{{ . }}{{ else }}{{ .Site.Params.blogAuthor }}{{ end }}" />
<meta name="twitter:site" content="@{{ .Site.Params.twitterHandle }}" />
<meta name="twitter:title" content="{{ with .Title }}{{ . }}{{ else }}{{ .Site.Params.blogTitle }}{{ end }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:label1" content="Written by" />
<meta name="twitter:data1" content="{{ .Site.Params.blogAuthor }}" />
