{{- $class := "img-fluid mx-auto d-block" -}}
{{- if .Params.class -}}
    {{- $class = .Params.class -}}
{{- end -}}
{{- $height := "" -}}
{{- if .Params.height -}}
    {{- $height = .Params.height -}}
{{- end -}}
{{- $width := "" -}}
{{- if .Params.width -}}
    {{- $width = .Params.width -}}
{{- end -}}
<img src="https://{{ .Site.Params.cdnDomain }}/blog_{{ .Params.path }}" alt="{{ .Params.title }}" title="{{ .Params.title }}" class="{{ $class }}" height="{{ $height }}" width="{{ $width }}" >
