<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        &copy; <%= blog_author %> 2014-<%= Time.now.utc.strftime("%Y") %> | <a href="http://status.martincostello.com/" target="_blank">Site Status &amp; Uptime</a>
      </div>
      <div class="col-md-2">
        <a href="https://twitter.com/<%= twitter_handle %>" class="twitter-follow-button" data-show-count="false">Follow @<%= twitter_handle %></a>
      </div>
      <div class="col-md-1">
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
      <div class="col-md-1">
        <script src="https://apis.google.com/js/platform.js" async="" defer=""></script><g:plusone></g:plusone>
      </div>
    </div>
  </div>
</footer>
