<p>
  <div class="row">
    <div class="col-lg-6">
      <a href="https://twitter.com/intent/tweet" class="twitter-share-button" data-size="large" data-text="<%= current_page.data.title || config[:blog_title] %>" data-via="<%= config[:twitter_handle] %>">Tweet</a>
    </div>
  </div>
</p>
