<p>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <%= partial "facebookshare" %>&nbsp;<%= partial "twittershare" %>&nbsp;<%= partial "googleplusshare" %>
    </div>
  </div>
</p>
