<%
post_title = current_page.data.title || config[:blog_title]
post_url = URI.join(config[:site_root_uri_canonical], current_page.url)

text = "%s by %s %s" % [post_title, config[:bluesky_handle], post_url.to_s]
text_encoded = URI.encode_www_form_component(text)
%>
<p>
  <div class="row">
    <div class="col-lg-6">
      <a href="https://bsky.app/intent/compose?text=<%= text_encoded %>" target="_blank" rel="noopener" class="btn btn-info btn-sm" title="Share on Bluesky">
        Share on Bluesky
        <span class="fa-brands fa-bluesky" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</p>
