---
title: About Me
description: "About Martin Costello."
---

<h1><%= current_page.data.title %></h1>
<p>My name is Martin, and I'm a software developer and tester based in London.</p>
<p>I've been working in software development for over 8 years now since leaving the University of Birmingham in 2006 with a BSc in Physics and Astrophysics.  My experience is primarily in the Microsoft technology stack with C# .NET, working on WCF and ASP.NET-based technologies alongside Microsoft SQL Server.</p>
<p>Besides technology, I'm a big fan of the cinema and like watching new films of many genres.  I've been working on a self-imposed challenge of watching all of the films in the IMDb Top 250 for the last 6 years.  The list is always moving which makes it tricky, but one day I'll get there!</p>
<p>Visit <a href="https://martincostello.com/" alt="martincostello.com" title="martincostello.com">martincostello.com</a>.</p>
<div class="row text-center">
  <img class="img-responsive lazy" data-original="/images/Martin_Small.png" height="300" width="288" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="<%= blog_author %>" title="<%= blog_author %>" />
</div>
