---
title: About Me
description: "Information about Martin Costello, a software developer and tester."
---

<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <h1><%= current_page.data.title %></h1>
            <p class="lead">My name is Martin, and I'm a software developer and tester based in London.</p>
        </div>
        <div class="col-md-3">
            <div class="row text-center">
                <img class="img-responsive lazy" style="margin: 0 auto;" data-original="https://<%= cdn_domain %>/martin_small.png" height="300" width="288" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="<%= blog_author %>" title="<%= blog_author %>" />
            </div>
        </div>
    </div>
</div>
<div>
    <p>Hi there! My name is Martin, and I'm a software developer and tester based in London.</p>
    <p>I've been working in software development for over 10 years now since leaving the University of Birmingham in 2006 with a BSc in Physics and Astrophysics.  My experience is primarily in the Microsoft technology stack with C# .NET, working on WCF and ASP.NET-based technologies alongside Microsoft SQL Server.</p>
    <p>Besides technology, I'm a big fan of the cinema and like watching new films of many genres.  I've been working on a self-imposed challenge of watching <a href="https://www.icheckmovies.com/lists/top+250/?user=martin_costello" alt="IMDb Top 250 Progress" title="IMDb Top 250 Progress">all of the films in the IMDb Top 250</a> for the last 8 years.  The list is always moving which makes it tricky, but one day I'll get there!</p>
    <p>Visit <a href="https://martincostello.com/" alt="martincostello.com" title="martincostello.com">martincostello.com</a>.</p>
</div>
