---
title: Martin Costello's Blog
---

<div class="jumbotron">
    <h1><%= blog_title %></h1>
    <p class="lead"><%= blog_subtitle %></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>Information about development projects I manage and/or work on.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Blog</h2>
        <p>I occasionally blog about topics related to .NET development.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Tools</h2>
        <p>A few simple tools I use regularly to develop .NET applications.</p>
        <p></p>
    </div>
</div>
