<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <clear />
  </connectionStrings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="false" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/error/">
      <error statusCode="404" redirect="~/notfound/" />
    </customErrors>
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <httpRuntime enableVersionHeader="false" />
    <machineKey validation="HMACSHA256" validationKey="7A09FEEAEC72718BAC2DB2A891D5752A456D60FAE26E3CEF70A62DAE108EDC198C4EB8A80B1343300B777595E47FD1DBF2952C3CEA8E7AE8F2FDC47D820437CA" decryption="AES" decryptionKey="1C0CAE96E9DF12EE4D38CFE2EEC6065FB499B818D6995A1B84B71417AC37BF13" />
    <trace enabled="false" localOnly="true" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" responseMode="ExecuteURL" path="/notfound/" />
      <error statusCode="500" responseMode="ExecuteURL" path="/error/" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Arr-Disable-Session-Affinity" value="True" />
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>
    <httpRedirect enabled="false" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    </staticContent>
    <rewrite>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
        <rule name="Remove X-Powered-By HTTP response header">
          <match serverVariable="RESPONSE_X-Powered-By" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
      <rules>
        <rule name="Block SSL3.0" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_X_FORWARDED_SSL30}" pattern="1" />
          </conditions>
          <action type="CustomResponse" statusCode="403" subStatusCode="900" statusReason="Forbidden" statusDescription="SSL v3 connections are forbidden by this website." />
        </rule>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
</configuration>
