<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <clear />
  </connectionStrings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="false" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/error/">
      <error statusCode="404" redirect="~/notfound/" />
    </customErrors>
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <httpRuntime enableVersionHeader="false" />
    <machineKey validation="HMACSHA256" decryption="AES" />
    <trace enabled="false" localOnly="true" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" responseMode="ExecuteURL" path="/notfound/" />
      <error statusCode="500" responseMode="ExecuteURL" path="/error/" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Arr-Disable-Session-Affinity" value="True" />
        <add name="Content-Security-Policy-Report-Only" value="default-src 'self'; frame-src accounts.google.com apis.google.com disqus.com platform.twitter.com staticxx.facebook.com syndication.twitter.com www.facebook.com; font-src 'self' fonts.gstatic.com maxcdn.bootstrapcdn.com; img-src 'self' a.disquscdn.com csi.gstatic.com o.twimg.com pbs.twimg.com platform.twitter.com referrer.disqus.com syndication.twitter.com ton.twimg.com www.facebook.com data:; script-src 'self' ajax.googleapis.com apis.google.com cdn.syndication.twimg.com cdnjs.cloudflare.com connect.facebook.net martincostelloblog.disqus.com maxcdn.bootstrapcdn.com platform.twitter.com www.google-analytics.com 'unsafe-inline'; style-src 'self' a.disquscdn.com fonts.googleapis.com maxcdn.bootstrapcdn.com platform.twitter.com ton.twimg.com 'unsafe-inline'; report-uri https://martincostello.report-uri.io/r/default/csp/reportOnly" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    <httpRedirect enabled="false" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    </staticContent>
    <rewrite>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
        <rule name="Remove Server HTTP response header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
        <rule name="Remove X-Powered-By HTTP response header">
          <match serverVariable="RESPONSE_X-Powered-By" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
      <rules>
        <rule name="Block SSL3.0" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_X_FORWARDED_SSL30}" pattern="1" />
          </conditions>
          <action type="CustomResponse" statusCode="403" subStatusCode="900" statusReason="Forbidden" statusDescription="SSL v3 connections are forbidden by this website." />
        </rule>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" negate="true" pattern="localhost" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect old author page" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="author/martincos" ignoreCase="true" />
          <action type="Redirect" url="about-me/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
</configuration>
